<md-dialog aria-label="新预约" ng-cloak class="patientBookDialogWrap">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>预约</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">cancel</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-content layout="column" layout-align="space-around center" class="patientBookDialogForm" layout-padding>
                    <div layout="row" layout-padding>
                        <md-input-container>
                            <label>科室</label>
                            <md-select ng-model="booking.department">
                                <md-option ng-repeat="department in optionalDepartment" value="{{department}}">
                                    {{department}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <div flex="30"></div>
                        <md-input-container>
                            <label>医生</label>
                            <md-select ng-model="booking.doctorName">
                                <md-option ng-repeat="doctorName in optionalDoctor" value="{{doctorName}}">
                                    {{doctorName}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-datepicker ng-model="date" md-placeholder="Enter date"
                            md-min-date="minDate" md-max-date="maxDate" md-date-filter="onlyWeekdaysPredicate">
                        </md-datepicker>
                    </div>
                    <div layout="row" layout-align="space-around center" layout-padding >
                        <md-input-container layout="column">
                            <label>小时</label>
                            <md-select ng-model="booking.clock">
                                <md-option ng-repeat="clock in optionalClock" value="{{clock}}">
                                    {{clock}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <div flex="30"></div>
                        <md-input-container layout="column">
                            <label>分</label>
                            <md-select ng-model="booking.minute">
                                <md-option ng-repeat="minute in optionalMinute" value="{{minute}}">
                                    {{minute}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </md-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer('book')" style="margin-right:20px;">
                确认
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>