<md-dialog aria-label="Mango (Fruit)" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>预约</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">cancel</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-content layout="column" layout-wrap layout-align="center center" class="patientBookDialogForm">
                    <div layout="row">
                        <md-input-container>
                            <label>科室</label>
                            <input ng-model="booking.department" class="md-block">
                        </md-input-container>
                        <md-input-container>
                            <label>医生</label>
                            <input ng-model="booking.doctorName" class="md-block">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <h4>日期</h4>
                        <md-datepicker ng-model="date" md-placeholder="Enter date"
                            md-min-date="minDate" md-max-date="maxDate" md-date-filter="onlyWeekdaysPredicate">
                        </md-datepicker>
                        <md-input-container>
                            <label>小时</label>
                            <md-select ng-model="booking.clock">
                                <md-option ng-repeat="clock in optionalClock" value="{{clock}}">
                                    {{clock}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <label>分</label>
                            <md-select ng-model="booking.minute">
                                <md-option ng-repeat="minute in optionalMinute" value="{{minute}}">
                                    {{minute}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </md-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer('book')" style="margin-right:20px;">
                确认
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>