<div class="patientPanelWrap">
    <div class="PatientPanel">
        <md-content layout="column">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="已挂号">
                    <md-list>
                        <md-list-item class="md-3-line" ng-repeat="item in bookData | filter:{statue : '1'}">
                            <div class="md-list-item-text" layout="column">
                                <h3>{{ item.department }}</h3>
                                <h4>{{ item.doctorName }}</h4>
                                <p>{{ item.date }} &nbsp; {{item.clock}} &nbsp;--&nbsp; {{item.place}}室 </p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-tab>
                <md-tab label="挂号中">
                <md-list>
                        <md-list-item class="md-3-line" ng-repeat="item in bookData | filter:{statue : '2'}">
                            <div class="md-list-item-text" layout="column">
                                <h3>{{ item.department }}</h3>
                                <h4>{{ item.doctorName }}</h4>
                                <p>{{ item.date }} &nbsp; {{item.clock}} &nbsp;--&nbsp; {{item.place}}室 </p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-tab>
                <md-tab label="已预约">
                <md-list>
                        <md-list-item class="md-3-line" ng-repeat="item in bookData | filter:{statue : '3'}">
                            <div class="md-list-item-text" layout="column">
                                <h3>{{ item.department }}</h3>
                                <h4>{{ item.doctorName }}</h4>
                                <p>{{ item.date }} &nbsp; {{item.clock}} &nbsp;--&nbsp; {{item.place}}室 </p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-tab>
                <md-tab label="预约中">
                <md-list>
                        <md-list-item class="md-3-line" ng-repeat="item in bookData | filter:{statue : '4'}">
                            <div class="md-list-item-text" layout="column">
                                <h3>{{ item.department }}</h3>
                                <h4>{{ item.doctorName }}</h4>
                                <p>{{ item.date }} &nbsp; {{item.clock}} &nbsp;--&nbsp; {{item.place}}室 </p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-tab>
            </md-tabs>
            <div layout="row" layout-align="center center">
              <quit-button></quit-button>
              <md-button class="md-raised md-primary" ng-click="book($event)">预约</md-button>
            </div>
    </div>
    </md-content>
</div>
</div>