<html>
<head>
    <link rel="stylesheet" type="text/css" href="./static/css/index.css" />
    <link rel="stylesheet" type="text/css" href="./bower_components/angular-material/angular-material.css" />
    <title>Database Project</title>
</head>
<body ng-app="database" ng-cloak>
    <script src="./bower_components/angular/angular.js" type="text/javascript" ></script>
    <script src="./bower_components/angular-route/angular-route.js" type="text/javascript" ></script>
    <script src="./bower_components/angular-animate/angular-animate.js" type="text/javascript" ></script>
    <script src="./bower_components/angular-aria/angular-aria.js" type="text/javascript" ></script>
    <script src="./bower_components/angular-material/angular-material.js" type="text/javascript" ></script>
    <script src="./bower_components/angular-messages/angular-messages.js" type="text/javascript" ></script>
    <script src="./static/js/controller.js"></script>
    <div class="view-animate-container" ng-controller="MainCtrl">
        <div ng-view class="view-animate">
        </div>
    </div>
    <!--
    <div ng-controller="databaseLoginCtrl">
        <form name="loginForm" ng-submit="submit()" id="loginForm">
            <p>User Name: <input type="text" name="userName" ng-model="login.username" required /> </p>
            <p>Pass Word: <input type="text" name="password" ng-model="login.password" required /> </p>
            <input type="submit" value="Submit" ng-disabled="loginForm.$invalid" />
        </form>
        <div id="loginLoading" ng-show="loginLoading">
            <p> Login... please wait.</p>
        </div>
    </div>
    -->
</body>
</html>