<div class="patientLoginWrap" ng-controller="PatientLoginCtrl" ng-cloak class="md-inline-form">
	<md-content layout="column" layout-wrap layout-align="center center" class="patientLoginForm">
		<div layout="row">
			<md-input-container>
				<label>账号</label>
				<input ng-nodel="patient.username" class="md-block">
			</md-input-container>
		</div>
		<div layout="row">
			<md-input-container>
				<label>密码</label>
				<input ng-nodel="patient.password" class="md-block">
			</md-input-container>
		</div>
		<div layout="row">
			<div layout="column">
				<md-button class="md-raised md-primary" ng-click="patientLogin()">登陆</md-button>
			</div>
			<div layout="column">
				<md-button class="md-raised md-primary" ng-click="patientRegister()">注册</md-button>
			</div>
		</div>
	</md-content>
</div>