<div class="welcomeWrap">
    <md-content layout="row" layout-wrap class="md-padding" layout-align="center start">
        <div flex="33" layout="column">
            <md-card>
                <img ng-src="static/image/doctorImage.jpg" class="md-card-image" alt="image caption">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">我是医生</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary" ng-click="enterDoctor()">进入</md-button> 
                </md-card-actions>
            </md-card>
        </div>
        <div flex="33">
            <md-card>
                <img ng-src="static/image/adminImage.png" class="md-card-image" alt="image caption">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">我是管理员</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary" ng-click="enterAdmin()">进入</md-button>              
                </md-card-actions>
            </md-card>
        </div>
        <div flex="33">
            <md-card>	
                <img ng-src="static/image/patientImage.png" class="md-card-image" alt="image caption">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">我是病人</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary" ng-click="enterPatient()">进入</md-button> 
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
</div>