<div class="patientLoginWrap" ng-cloak class="md-inline-form">
	<md-content layout="column" layout-wrap layout-align="center center" class="patientLoginForm">
		<form ng-submit="login()">
			<div layout="row">
				<md-input-container>
					<label>账号</label>
					<input ng-model="patient.username" class="md-block" required>
				</md-input-container>
			</div>
			<div layout="row">
				<md-input-container>
					<label>密码</label>
					<input ng-model="patient.password" class="md-block" required>
				</md-input-container>
			</div>
			<div layout="row">
				<div layout="column">
					<md-button class="md-raised md-primary" type="submit">登陆</md-button>
				</div>
				<div layout="column">
					<md-button class="md-raised md-primary" ng-click="register()">注册</md-button>
				</div>
			</div>
		</form>
	</md-content>
</div>